* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.navbar-nav li {
    list-style: none;
    margin-left: 1em;
}

.navbar-nav a, .navbar-brand {
    color: #fff;
}

.navbar-nav {
    display: flex;
}

.navbar-nav li a:hover {
    color: #111;
}

.btn {
    cursor: pointer;
    color: white;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}

.btn-success {
    background-color: #0da375;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary {
    background-color: #0d6efd;
}

.badge {
    padding: 2px 7px;
    background-color: white;
    color: black;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}

.container {
    padding: 5% 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .row.row-cols-md-2 > * {
        width: 50%;
    }

    table.cartTable {
        width: 70%;
    }

    form.auth-form, div.alert {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .row.row-cols-lg-3 > * {
        width: 33.333%;
    }

    table.cartTable {
        width: 60%;
    }

    form.auth-form, div.alert {
        width: 45%;
    }
}

.col {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
    position: relative;
    height: 0;
    padding: 90% 0 0 0;
    overflow: hidden;
    background: #ced6e0;
    border-radius: 5px;
}

.card-img-top {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.card-body {
    padding: 1em;
}

.card-like {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    padding: 5px;
    cursor: pointer;
}

.card-like:hover {
    border: 1px solid #dc514b;
    border-radius: 7px;
}

.card-like-select {
    border: 1px solid #dc514b;
    border-radius: 7px;
}

.card-title {
    margin-bottom: 0.5em;
    min-height: 53px;
}

.like-link {
    position: relative;
}

.like-icon {
    width: 30px;
    position: absolute;
}

.card-text {
    font-family: Helvetica, sans-serif;
    color: #0da375;
}

.cost-part {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.flex-center {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}

.auth-form {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.5em;
    padding: 2em;
    margin-bottom: 2em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4em 0.75em;
    line-height: 1.5;
    font-size: 1em;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

.form-label {
    margin-bottom: 0.5em;
    display: inline-block;
    color: #08684b;
}

.form-group {
    margin-bottom: 1em;
}

input[type="submit"] {
    background-color: #0da375;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead, tbody, tfoot {
    font-size: 14px;
}

tr {
    border-top: 1px solid;
}

td, th {
    padding: 0.4em;
    text-align: left;
}

td > img {
    max-height: 70px;
}

td > a {
    display: inline-block;
}

.alert {
    padding: 1rem;
    border-radius: 0.25rem;
    width: 100%;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    display: none;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    display: none;
}